DATABASE_URL="postgresql+psycopg://usuario:senha@ip_do_banco:porta_do_banco/nome_do_banco"

SECRET_KEY="chave-secreta-para-o-jwt"


# Configurações do Docker
POSTGRES_USER="usuario-do-banco"
POSTGRES_PASSWORD="senha-do-banco"
POSTGRES_PORT="porta-do-banco"
POSTGRES_DB="nome-do-banco"
